<div id="contact-container" class="container">
    <div class="page-header">
         <h1>Contact Us</h1>

    </div>
    <div class="row">
        <div class="span4 thumbnail">
            <img src="http://www.drumbi.com/wp-content/themes/wordpress-bootstrap-v2.1/images/map.png">
        </div>
        <div class="span3">
            	<h3>Lorem Ipsum</h3>

            <p>Vivamus mollis urna ut urna ullamcorper tempor. Integer lacinia nisl vitae
                quam faucibus quis cursus elit lacinia.</p>
            <p><strong>Bay Equities Inc.</strong>
            </p>	<address><a href="http://maps.google.com/maps?q=9541+Irvine+Center+Drive+Irvine,+CA+92618&amp;hnear=9541+Irvine+Center+Dr,+Irvine,+California+92618&amp;gl=us&amp;t=m&amp;z=16" target="_default">4756 Hello World, Planet Earth 99999 </a><p></p>
			<p>
				(888) 888-8888
			</p>
	<p></p></address>

            <p></p>
        </div>
        <div class="span4">
            	<h3>Lorem Ipsum</h3>

            <p>Duis a nunc nec diam blandit gravida ut eget magna. Ut eget velit sit
                amet libero lobortis suscipit.</p>
            <p>
                <a class="btn btn-primary btn-large" href="#">Join the Team <i class="icon-chevron-right icon-white"></i>
                </a>
            </p>
        </div>
    </div>
</div>