<div class="center">
    <!-- Carousel -->
    <%= render "layouts/carousel" %>
    <!-- Modal -->
    <%= render "layouts/modal" %>
    <!-- 3 columns -->
     <div class="row-fluid">
        <div id="thumb_container" class="container">
            <div id="thumb_1" class="span4">
                <p>
                    <h3>Heading</h3>
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in justo augue, ut laoreet risus.
                </p>
                <p>
                    <!-- Button to trigger modal -->
                    <a href="#myModal" role="button" class="btn btn-primary btn-small" data-toggle="modal">Learn More</a>
                </p>
            </div>
            <div id="thumb_2" class="span4">
                <p>
                    <h3>Heading</h3>
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in justo augue, ut laoreet risus.
                </p>
                <p>
                    <!-- Button to trigger modal -->
                    <a href="#myModal" role="button" class="btn btn-primary btn-small" data-toggle="modal">Learn More</a>
                </p>
            </div>
            <div id="thumb_3"class="span4">
                <p>
                    <h3>Heading</h3>
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in justo augue, ut laoreet risus.
                </p>
                <p>
                    <!-- Button to trigger modal -->
                    <a href="#myModal" role="button" class="btn btn-primary btn-small" data-toggle="modal">Learn More</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
// Invoke the carousel
$('#myCarousel').carousel({
  interval: 5000
});

/* SLIDE ON CLICK */ 

$('.carousel-linked-nav > li > a').click(function() {

    // grab href, remove pound sign, convert to number
    var item = Number($(this).attr('href').substring(1));

    // slide to number -1 (account for zero indexing)
    $('#myCarousel').carousel(item - 1);

    // remove current active class
    $('.carousel-linked-nav .active').removeClass('active');

    // add active class to just clicked on item
    $(this).parent().addClass('active');

    // don't follow the link
    return false;
});

/* AUTOPLAY NAV HIGHLIGHT */

// bind 'slid' function
$('#myCarousel').bind('slid', function() {

    // remove active class
    $('.carousel-linked-nav .active').removeClass('active');

    // get index of currently active item
    var idx = $('#myCarousel .item.active').index();

    // select currently active item and add active class
    $('.carousel-linked-nav li:eq(' + idx + ')').addClass('active');

});
 
  // active modal
  $('#myModal').modal(options);
</script>


