<div class="page-header">
  <h1>Our Services</h1>
</div>
<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
    <li><a href="#tab3" data-toggle="tab">Section 3</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
	    <div class="row-fluid">
	    	<div class="thumbnail span6 pull-left">
	    		<img src="http://placehold.it/350x210/888&text=Item 1" />
	    	</div>
			<div class="span6">
				<p>
		      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in justo augue, ut laoreet risus. Quisque turpis erat, bibendum vel pellentesque nec, lobortis in massa. Aliquam et lacinia quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
		      	</p>
		      	<p>
	      			Nulla eu ante non lectus laoreet facilisis id egestas neque. Nunc adipiscing, sapien eu feugiat accumsan, eros urna vulputate metus, in facilisis metus sapien nec nisl.
	     	 	</p>
	        </div>
	    </div>
	</div>
    <div class="tab-pane" id="tab2">
       <div class="row-fluid">
	    	<div class="thumbnail span6 pull-right">
	    		<img src="http://placehold.it/350x210/888&text=Item 2" />
	    	</div>
			<div class="span6">
				<p>
		      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in justo augue, ut laoreet risus. Quisque turpis erat, bibendum vel pellentesque nec, lobortis in massa. Aliquam et lacinia quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
		      	</p>
		      	<p>
	      			Nulla eu ante non lectus laoreet facilisis id egestas neque. Nunc adipiscing, sapien eu feugiat accumsan, eros urna vulputate metus, in facilisis metus sapien nec nisl.
	     	 	</p>
	        </div>
	    </div>
    </div>
    <div class="tab-pane" id="tab3">
    	<p>
    		Duis a nunc nec diam blandit gravida ut eget magna. Ut eget velit sit amet libero lobortis suscipit. Duis ullamcorper facilisis est a semper. Donec quis augue purus. Nullam fermentum, tortor et consequat rhoncus, libero sapien accumsan erat, et ultricies magna felis quis magna.
    	</p>
    	<p>
    		Aliquam vehicula scelerisque ante, vitae sagittis ipsum accumsan nec. Etiam consectetur imperdiet magna sit amet luctus. Vestibulum euismod nisi a diam pulvinar at facilisis elit laoreet. Aliquam vehicula scelerisque ante, vitae sagittis ipsum accumsan nec. Etiam consectetur imperdiet magna sit amet luctus.
    	</p>
    	<div class="center span9">
    		<p>
    			<a href="#myModal" role="button" class="btn btn-warning 	btn-primary btn-large" data-toggle="modal">Learn More</a>
    		</p>
    	</div>
    </div>
</div>
