<div id="myCarousel" class="center carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
        <img src="http://placehold.it/950x310/888&text=Item 1" />
    </div>
    <div class="item">
        <img src="http://placehold.it/950x310/aaa&text=Item 2" />
    </div>
    <div class="item">
        <img src="http://placehold.it/950x310/bbb&text=Item 3" />
    </div>
  </div>
</div>

<!-- LINKED NAV -->
<ol class="carousel-linked-nav pagination">
  <li class="active"><a href="#1"></a></li>
  <li><a href="#2"></a></li>
  <li><a href="#3"></a></li>
</ol>
