<div id="footer">
  <div class="container">
  	<p class="muted credit">© 2012 Bay Equities</p>
  	<ul class="breadcrumb">
      <li><%= link_to "Home", "index" %></li>
      <li><%= link_to "Services", "services" %></li>
      <li><%= link_to "Contact Us", "contact" %></li>
    </ul>
  </div>
</div>