<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Let's talk!</h3>
  </div>
  <div class="modal-body">
    <p>
        Enter your Email below and we'll contact you as soon as possible:
    <p>
    <input class="input-large" type="text" placeholder="Enter your Email Address...">
  </div>
  <div class="center modal-footer">
    <button class="btn btn-large btn-success">Submit</button>
  </div>
</div>